html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

body {
    background-color: rgba(248, 249, 250, 1);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

h1, h2 ,h3:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

hr {
    height: 20px;
    width: 0px;
    border: solid rgba(229, 229, 229, 1) 0.5px;
}

@keyframes appearing {
    from {opacity: 0}
    to {opacity: 100}
}