@mixin add_style_text($font,$font_size, $line_height, $color) {
    font-family: $font;
    font-weight: 700;
    font-size: $font_size;
    line-height: $line_height;
    color: $color;
}

@mixin tag_style {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    height: 22px;
    max-width: 77px;
    border: 0px;
    padding: 5px 10px 5px 10px;
    @include add_style_text('Roboto',10px, 11.72px, $first_white_color);
    &:hover {
        cursor: pointer;
    }
}