$first_white_color:  rgba(255, 255, 255, 1);
$second_white_color: rgba(229, 229, 229, 1);
$orange_color:  rgba(212, 163, 115, 1);
$first_gray_color: rgba(73, 80, 87, 1);
$second_gray_color:  rgba(108, 117, 125, 1);
$third_gray_color: rgba(52, 58, 64, 1);
$forth_gray_color: rgba(33, 37, 41, 1);