@import "./general";
@import "./mixins";
@import "./variables";

// header_section
.header_section {
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    background-position: center;
    height: 80px;
}

.header_container {
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.header-logo {
    &:hover {
        cursor: pointer;
    }
}

.header_main {
    gap: 17px;
}

.header_nav_list {
    justify-content: space-between;
    gap: 25px;
}

.header_nav_item {
    transform: translateY(2px) translateX(8px);
}

.header_nav_item_link {
        @include add_style_text('Roboto',12px,14.06px, $second_white_color);
}

.header_nav_item_hr {
    display: none;
    width: 100%;
    height: 0px;
    border: 1px solid $orange_color;
    transform: translateY(3px);
}

.header_nav_item:first-child {
     .header_nav_item_hr {
        display: block;     
    }
}

.header_nav_item:not(:first-child) {
    &:hover {
        .header_nav_item_hr {
            display: block;
            animation-name: appearing;
            animation-duration: 0.5s;
        } 
    }
}

.header_nav_part {
    justify-content: space-between;
    gap: 25px;
}

.header_sm_list {
    gap: 18px;
}

.header_sm_part {
    gap: 17px;
}

.header_hr {
    height: 20px;
    width: 0px;
    border: 0.25px solid $second_white_color;
    transform: translateX(1px);
}

// hero_section
.hero_container {
    position: relative;
    z-index: 1;
    height: 520px;
    padding-top: 198px;
}

.hero_tag {
    @include tag_style();
    margin-bottom: 15px;
}

.hero_title {
    @include add_style_text('Lora',36px,46.08px, $first_white_color);
    max-width: 520px;
    margin-bottom: 15px;
}

.hero_subtitle , .hero_time{
    @include add_style_text('Lora',12px,20px, $first_white_color);
    font-weight: 400;
    max-width: 420px;
}

.hero_hr {
    margin-top: 10px;
    height: 0px;
    width: 30px;
    border: solid $second_white_color 0.5px;
    transform: translateY(-2px);
}

.hero_subtitle_part {
    gap: 10px
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 600px;
    background-image: url("../image/header/background.jpg"); /* замість "path/to/shared-image.jpg" вкажіть шлях до вашого зображення */
    background-size: cover; 
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.2);
}

// topics_section
.topics_container {
    max-height: 1611px;
    padding: 150px 0px;
}

.topics_title {
    @include add_style_text('Lora',36px,46px, $first_gray_color);
    margin-bottom: 30px;
}

.topics_category_part {
    justify-content: space-between;
}

.topics_list {
    gap: 20px;
    margin-bottom: 30px;
}

.topics_item_link {
    @include add_style_text('Lora',12px,25px, $first_gray_color);
    &:hover {
        color: $orange_color;
    }
}

.first_topics_item_link {
    color: $orange_color;
}

.topics_all_link {
    @include add_style_text('Lora',12px,25px, $first_gray_color);
    &:hover {
        color: $orange_color;
    }
}

.topics_cards_list {
    flex-wrap: wrap;
    gap: 50px 20px;
    max-height: 1311px;
    overflow: hidden;
}

.topics_cards_item {
    flex: 1;
    min-width: 250px;
    padding: 20px;
    height: 565px;
    max-width: 310px;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-color: $first_white_color;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

.topics_cards_tag{
    @include tag_style();
    margin-left: 193px;
    margin-bottom: 258px;
}

.topics_cards_first_tag {
    @include tag_style();
    margin-left: 144px;
    margin-bottom: 258px;
}

.topics_cards_second_tag {
    @include tag_style();
    color:  $first_white_color;
    margin-left: 5px;
}

.first_second_row_tag {
    margin-left: 126px;
}

.topics_cards_date {
    @include add_style_text('Lora',12px,15.36px, $first_gray_color);
    font-weight: 400;
}

.topics_cards_title {
    @include add_style_text('Lora',18px,25px, $first_gray_color);
    max-width: 270px;
    transform: translateY(12px);
    margin-bottom: 25px;
}

.topics_cards_subtitle {
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
    min-width: 170px;
    margin-bottom: 20px;
    max-height: 60px;
    overflow: hidden;
}

.topics_cards_hr {
    height: 0px;
    width: 270px;
    border: solid $second_white_color 0.5px;
    margin-bottom: 20px;
}

.topics_cards_author_name {
    margin-left: 17px;
    @include add_style_text('Lora',12px,20px, $third_gray_color);
    transform: translateY(4px);
    &:hover{
        color: $orange_color;
    }
}

.first_author::after {
    content: "Thinker & Designer";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.second_author::after {
    content: "Designer";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.third_author::after {
    content: "Journalist";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.forth_author::after {
    content: "Thinker & Designer";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.fifth_author::after {
    content: "Thinkers";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.sixth_author::after {
    content: "Thinker & Designer";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.seventh_author::after {
    content: "Thinker & Designer";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.eighth_author::after {
    content: "Thinker & Designer";
    display: block; 
    @include add_style_text('Lora',12px,20px,$second_gray_color);
    font-weight: 400;
}

.first_card {
    background-image: url('../image/topics/card1-background.jpg');
}

.second_card {  
    background-image: url('../image/topics/card2-background.jpg');
}

.third_item {
    background-image: url('../image/topics/card3-background.jpg');
}

.forth_item {
    background-image: url('../image/topics/card4-background.jpg');
}

.fifth_item {
    background-image: url('../image/topics/card5-background.jpg');
}

.sixth_item {
    background-image: url('../image/topics/card6-background.jpg');
}

.seventh_item {
    background-image: url('../image/topics/card7-background.jpg');
}

.eighth_item {
    background-image: url('../image/topics/card8-background.jpg');
}

// big_post_section
.big_post_section {
    background-image: url('../image/post//background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    background-position: center;
}

.big_post_container {
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-direction: column;
}

.big_post_content {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 245px;
    justify-content: space-between;
}

.big_post_tag {
    @include tag_style();
    margin-bottom: 9px;
}

.big_post_title {
    @include add_style_text('Lora',36px,46.08px, $first_white_color);
    text-align: center;
    max-width: 530px;
}

.big_post_subtitle {
    @include add_style_text('Lora',12px,20px, $first_white_color);
    font-weight: 400;
    text-align: center;
    max-width: 420px;
}

.big_post_hr {
    height: 0px;
    width: 30px;
    border: solid $second_white_color 0.25px;
    transform: translateY(6px);
}

.big_post_time {
    @include add_style_text('Lora',12px,20px, $first_white_color);
    font-weight: 400;
    max-width: 420px;
    transform: translateY(3px);
}

//editors_picks_section
.editors_picks_section {
    height: 766px;
    padding: 150px 0px;
}

.editors_picks_title {
    @include add_style_text('Lora',36px,46px, $first_gray_color);
    margin-bottom: 70px;
}

.editors_picks_list {
    gap: 20px;
}

.editors_picks_item {
    flex: 1;
    min-width: 300px;
    max-width: 420px;
    height: 350px;
    padding: 20px;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform 0.3s ease;
    }
}

.first_pick {
    background-image: url('../image/picks/first-card.jpg');
}

.second_pick {
    background-image: url('../image/picks/second-card.jpg');
}

.third_pick {
    background-image: url('../image/picks/third-card.jpg');
}

.editors_picks_tag {
    @include tag_style();
    margin-left: 318px;
    margin-bottom: 108px;
}

.editors_picks_time {
    @include add_style_text('Lora',12px,20px, $first_white_color);
    font-weight: 400;
    max-width: 420px;
    
    margin-left: 20px;
}

.editors_picks_item_title {
    @include add_style_text('Lora',18px,25px, $first_white_color);
    margin-bottom: 15px;
    margin-top: 12px;
    margin-left: 20px;
    max-width: 270px;
}

.editors_picks_item_subtitle {
    @include add_style_text('Lora',12px,20px, $first_white_color);
    font-weight: 400;
    margin-left: 20px;
    max-height: 60px;
    overflow: hidden;
}

// footer_section
.footer_section {
    background-color:$forth_gray_color;
    height: 400px;
}

.footer_container {
    padding: 106px 0px;
    height: 400px;
}

.footer_heading_list {
    justify-content: space-between;
}

.footer_heading_item {
    @include add_style_text('Lora',18px,25px, $first_white_color);
}

.footer_heading_first_item {
    // margin-right: 142px;

}

.footer_heading_second_item {
    transform: translateX(-101px);
}

.footer_heading_third_item {
    transform: translateX(-114px);
}

.footer_heading_forth_item {
    transform: translateX(-140px);
}

.footer_contact_list {
    margin-top: 9px;
    flex-direction: column;
    gap: 8px;
}

.footer_list_item {
    @include add_style_text('Lora',12px,15px, $second_white_color);
    font-weight: 400;
}

.footer_explorate_list {
    margin-top: 9px;
    flex-direction: column;
    gap: 8px;
}

.footer_list_adress {
    @include add_style_text('Lora',12px,20px, $second_white_color);
    font-weight: 400;
    margin-top: 15px;
    letter-spacing: 0.1px;
    &:hover {
        cursor: pointer;
    }
}

.footer_sm_list {
    margin-top: 15px;
    gap: 18px;
}

// sub_footer_section
.sub_footer_section {
    background-color: $third_gray_color;
    height: 100px;
}

.sub_footer_container {
    height: 100px;
    align-items: center;
}

.sub_footer_list {
    width: 100%;
    justify-content: space-between;
}

.copiright {
    @include add_style_text('Lora',14px,18px, $second_white_color);
}

.sub_footer_item:last-child a{
    @include add_style_text('Lora',14px,18px, $second_white_color);
    font-weight: 400;
}
