@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

body {
  background-color: rgb(248, 249, 250);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

h1, h2, h3:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

hr {
  height: 20px;
  width: 0px;
  border: solid rgb(229, 229, 229) 0.5px;
}

@keyframes appearing {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
.header_section {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  background-position: center;
  height: 80px;
}

.header_container {
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.header-logo:hover {
  cursor: pointer;
}

.header_main {
  gap: 17px;
}

.header_nav_list {
  justify-content: space-between;
  gap: 25px;
}

.header_nav_item {
  transform: translateY(2px) translateX(8px);
}

.header_nav_item_link {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 12px;
  line-height: 14.06px;
  color: rgb(229, 229, 229);
}

.header_nav_item_hr {
  display: none;
  width: 100%;
  height: 0px;
  border: 1px solid rgb(212, 163, 115);
  transform: translateY(3px);
}

.header_nav_item:first-child .header_nav_item_hr {
  display: block;
}

.header_nav_item:not(:first-child):hover .header_nav_item_hr {
  display: block;
  animation-name: appearing;
  animation-duration: 0.5s;
}

.header_nav_part {
  justify-content: space-between;
  gap: 25px;
}

.header_sm_list {
  gap: 18px;
}

.header_sm_part {
  gap: 17px;
}

.header_hr {
  height: 20px;
  width: 0px;
  border: 0.25px solid rgb(229, 229, 229);
  transform: translateX(1px);
}

.hero_container {
  position: relative;
  z-index: 1;
  height: 520px;
  padding-top: 198px;
}

.hero_tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 22px;
  max-width: 77px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 11.72px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.hero_tag:hover {
  cursor: pointer;
}

.hero_title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  color: rgb(255, 255, 255);
  max-width: 520px;
  margin-bottom: 15px;
}

.hero_subtitle, .hero_time {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  max-width: 420px;
}

.hero_hr {
  margin-top: 10px;
  height: 0px;
  width: 30px;
  border: solid rgb(229, 229, 229) 0.5px;
  transform: translateY(-2px);
}

.hero_subtitle_part {
  gap: 10px;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url("../image/header/background.jpg"); /* замість "path/to/shared-image.jpg" вкажіть шлях до вашого зображення */
  background-size: cover;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.2);
}

.topics_container {
  max-height: 1611px;
  padding: 150px 0px;
}

.topics_title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: rgb(73, 80, 87);
  margin-bottom: 30px;
}

.topics_category_part {
  justify-content: space-between;
}

.topics_list {
  gap: 20px;
  margin-bottom: 30px;
}

.topics_item_link {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  color: rgb(73, 80, 87);
}
.topics_item_link:hover {
  color: rgb(212, 163, 115);
}

.first_topics_item_link {
  color: rgb(212, 163, 115);
}

.topics_all_link {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  color: rgb(73, 80, 87);
}
.topics_all_link:hover {
  color: rgb(212, 163, 115);
}

.topics_cards_list {
  flex-wrap: wrap;
  gap: 50px 20px;
  max-height: 1311px;
  overflow: hidden;
}

.topics_cards_item {
  flex: 1;
  min-width: 250px;
  padding: 20px;
  height: 565px;
  max-width: 310px;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.topics_cards_item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.topics_cards_tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 22px;
  max-width: 77px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 11.72px;
  color: rgb(255, 255, 255);
  margin-left: 193px;
  margin-bottom: 258px;
}
.topics_cards_tag:hover {
  cursor: pointer;
}

.topics_cards_first_tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 22px;
  max-width: 77px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 11.72px;
  color: rgb(255, 255, 255);
  margin-left: 144px;
  margin-bottom: 258px;
}
.topics_cards_first_tag:hover {
  cursor: pointer;
}

.topics_cards_second_tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 22px;
  max-width: 77px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 11.72px;
  color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  margin-left: 5px;
}
.topics_cards_second_tag:hover {
  cursor: pointer;
}

.first_second_row_tag {
  margin-left: 126px;
}

.topics_cards_date {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 15.36px;
  color: rgb(73, 80, 87);
  font-weight: 400;
}

.topics_cards_title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgb(73, 80, 87);
  max-width: 270px;
  transform: translateY(12px);
  margin-bottom: 25px;
}

.topics_cards_subtitle {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
  min-width: 170px;
  margin-bottom: 20px;
  max-height: 60px;
  overflow: hidden;
}

.topics_cards_hr {
  height: 0px;
  width: 270px;
  border: solid rgb(229, 229, 229) 0.5px;
  margin-bottom: 20px;
}

.topics_cards_author_name {
  margin-left: 17px;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(52, 58, 64);
  transform: translateY(4px);
}
.topics_cards_author_name:hover {
  color: rgb(212, 163, 115);
}

.first_author::after {
  content: "Thinker & Designer";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.second_author::after {
  content: "Designer";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.third_author::after {
  content: "Journalist";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.forth_author::after {
  content: "Thinker & Designer";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.fifth_author::after {
  content: "Thinkers";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.sixth_author::after {
  content: "Thinker & Designer";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.seventh_author::after {
  content: "Thinker & Designer";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.eighth_author::after {
  content: "Thinker & Designer";
  display: block;
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(108, 117, 125);
  font-weight: 400;
}

.first_card {
  background-image: url("../image/topics/card1-background.jpg");
}

.second_card {
  background-image: url("../image/topics/card2-background.jpg");
}

.third_item {
  background-image: url("../image/topics/card3-background.jpg");
}

.forth_item {
  background-image: url("../image/topics/card4-background.jpg");
}

.fifth_item {
  background-image: url("../image/topics/card5-background.jpg");
}

.sixth_item {
  background-image: url("../image/topics/card6-background.jpg");
}

.seventh_item {
  background-image: url("../image/topics/card7-background.jpg");
}

.eighth_item {
  background-image: url("../image/topics/card8-background.jpg");
}

.big_post_section {
  background-image: url("../image/post//background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  background-position: center;
}

.big_post_container {
  justify-content: center;
  align-items: center;
  height: 600px;
  flex-direction: column;
}

.big_post_content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 245px;
  justify-content: space-between;
}

.big_post_tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 22px;
  max-width: 77px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 11.72px;
  color: rgb(255, 255, 255);
  margin-bottom: 9px;
}
.big_post_tag:hover {
  cursor: pointer;
}

.big_post_title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 36px;
  line-height: 46.08px;
  color: rgb(255, 255, 255);
  text-align: center;
  max-width: 530px;
}

.big_post_subtitle {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
  max-width: 420px;
}

.big_post_hr {
  height: 0px;
  width: 30px;
  border: solid rgb(229, 229, 229) 0.25px;
  transform: translateY(6px);
}

.big_post_time {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  max-width: 420px;
  transform: translateY(3px);
}

.editors_picks_section {
  height: 766px;
  padding: 150px 0px;
}

.editors_picks_title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: rgb(73, 80, 87);
  margin-bottom: 70px;
}

.editors_picks_list {
  gap: 20px;
}

.editors_picks_item {
  flex: 1;
  min-width: 300px;
  max-width: 420px;
  height: 350px;
  padding: 20px;
}
.editors_picks_item:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.first_pick {
  background-image: url("../image/picks/first-card.jpg");
}

.second_pick {
  background-image: url("../image/picks/second-card.jpg");
}

.third_pick {
  background-image: url("../image/picks/third-card.jpg");
}

.editors_picks_tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  height: 22px;
  max-width: 77px;
  border: 0px;
  padding: 5px 10px 5px 10px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 10px;
  line-height: 11.72px;
  color: rgb(255, 255, 255);
  margin-left: 318px;
  margin-bottom: 108px;
}
.editors_picks_tag:hover {
  cursor: pointer;
}

.editors_picks_time {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  max-width: 420px;
  margin-left: 20px;
}

.editors_picks_item_title {
  font-family: "Lora";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
  margin-top: 12px;
  margin-left: 20px;
  max-width: 270px;
}

.editors_picks_item_subtitle {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-left: 20px;
  max-height: 60px;
  overflow: hidden;
}

.footer_section {
  background-color: rgb(33, 37, 41);
  height: 400px;
}

.footer_container {
  padding: 106px 0px;
  height: 400px;
}

.footer_heading_list {
  justify-content: space-between;
}

.footer_heading_item {
  font-family: "Lora";
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgb(255, 255, 255);
}

.footer_heading_second_item {
  transform: translateX(-101px);
}

.footer_heading_third_item {
  transform: translateX(-114px);
}

.footer_heading_forth_item {
  transform: translateX(-140px);
}

.footer_contact_list {
  margin-top: 9px;
  flex-direction: column;
  gap: 8px;
}

.footer_list_item {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: rgb(229, 229, 229);
  font-weight: 400;
}

.footer_explorate_list {
  margin-top: 9px;
  flex-direction: column;
  gap: 8px;
}

.footer_list_adress {
  font-family: "Lora";
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  color: rgb(229, 229, 229);
  font-weight: 400;
  margin-top: 15px;
  letter-spacing: 0.1px;
}
.footer_list_adress:hover {
  cursor: pointer;
}

.footer_sm_list {
  margin-top: 15px;
  gap: 18px;
}

.sub_footer_section {
  background-color: rgb(52, 58, 64);
  height: 100px;
}

.sub_footer_container {
  height: 100px;
  align-items: center;
}

.sub_footer_list {
  width: 100%;
  justify-content: space-between;
}

.copiright {
  font-family: "Lora";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgb(229, 229, 229);
}

.sub_footer_item:last-child a {
  font-family: "Lora";
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgb(229, 229, 229);
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */